@charset "UTF-8";

#addupdate{
	
	color:#DE4B4B;
	
}

.centro{
	
	height: 460px;
    width: 1300px;
    border: 3px black solid;
  

  margin:auto;
  
  margin-top:10px;
			  
	
}



.tabla{
	
  margin-top:50px;

	  margin-left:100px;
}

.abajo{
	
	 margin-top:15px;
	
}


#divmercancia{
	
	position: absolute;
	
	top:235px;
	
	left: 500px;
	
}


#stok {
	 margin-top:30px;
	 margin-bottom: 20px;
	
}

 #codigo {
 	position: absolute;
		left: 20px;

	
}

#textCodigo{
	 margin-left:10px
	 ;
	
	
}	


textarea{
	resize:none;
	font-size: 10px;
	width:250px;
	height: 300px;
	
}


 Button{
	
	
	position: absolute;
	
	top:235px;
	
	left: 700px;
	
	
	
    color: #fff;
    background-color: #01cd74;
 
    outline: none;
    padding: 15px 12px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
	margin-top:20px;
	
	margin-left:40px;
	
	margin-right:50px;
	
}

Button:hover{
	
	
	  background-color: red;
}


.imagen{
	
	position: absolute;
	
	top:200px;
	
	left: 900px;
	
	
}

.imagen img{
	
	
	width:400px;
	
	height:300px
	
}

